extends base

block content
  h4 Update Video
  form(method="post") 
    input(name='title' placeholder='Video Title' value=video.title required)
    input(type="text" placeholder="Description" name="description" value=video.description minlength=20)
    input(type="text" placeholder="Hashtags, sperated by comma." name="hashtags" value=hashtag)
    input(type='submit' value='Save')