extends base

block content 
  div 
    button#startBtn Start Recording
  if errorMessage
    span=errorMessage
  form(method="post", enctype="multipart/form-data") 
    label(for="vidoe") Video File
    input(type="file", id="video", required, name="video", accept="video/*")
    input(type="text" placeholder="Title" name="title")
    input(type="text" placeholder="Description" name="description")
    input(type="text" placeholder="Hashtags, sperated by comma." name="hashtags")
    input(type="submit", value="Upload Video")

block script
  script(src="/static/js/recorder.js")